.banner{
  margin-top: 20px;
  height: 300px;
  background: navy;
}
.event{
  margin-top: 10px;
  height:100px;
  background: rgb(19, 226, 30);
}
.content{
  margin-top: 20px;
  height: 300px;
  background: rgb(234, 250, 6);
}
.footer{
  margin-top: 20px;
  height: 300px;
  background: rgb(241, 6, 45);
}
